{
    "drop_scheme": {
        "fc_drop": 0.5, 
        "pool_drop": 0.7, 
        "type": "conv", 
        "conv_drop": 0.8
    }, 
    "name": "SimpleConvnet", 
    "bn_decay": 0.9, 
    "weight_decay": 0.0001, 
    "layer_cascade": {
        "layers": [
            {
                "keep_prob": 1.0, 
                "name": "conv", 
                "pre_activation": false, 
                "use_bn": true, 
                "strides": 1, 
                "activation": "relu", 
                "_id": "conv_0", 
                "filter_num": 16, 
                "kernel_size": 3
            }, 
            {
                "keep_prob": 1.0, 
                "_type": "max", 
                "name": "pool", 
                "pre_activation": false, 
                "use_bn": false, 
                "strides": 2, 
                "_id": "pool_0", 
                "activation": null, 
                "kernel_size": 2
            }, 
            {
                "keep_prob": 0.8, 
                "name": "conv", 
                "pre_activation": false, 
                "use_bn": true, 
                "strides": 1, 
                "activation": "relu", 
                "_id": "conv_1", 
                "filter_num": 32, 
                "kernel_size": 3
            }, 
            {
                "keep_prob": 1.0, 
                "_type": "max", 
                "name": "pool", 
                "pre_activation": false, 
                "use_bn": false, 
                "strides": 2, 
                "_id": "pool_1", 
                "activation": null, 
                "kernel_size": 2
            }, 
            {
                "keep_prob": 0.8, 
                "name": "conv", 
                "pre_activation": false, 
                "use_bn": true, 
                "strides": 1, 
                "activation": "relu", 
                "_id": "conv_2", 
                "filter_num": 64, 
                "kernel_size": 3
            }, 
            {
                "keep_prob": 1.0, 
                "_type": "max", 
                "name": "pool", 
                "pre_activation": false, 
                "use_bn": false, 
                "strides": 2, 
                "_id": "pool_2", 
                "activation": null, 
                "kernel_size": 2
            }, 
            {
                "keep_prob": 0.8, 
                "name": "conv", 
                "pre_activation": false, 
                "use_bn": true, 
                "strides": 1, 
                "activation": "relu", 
                "_id": "conv_3", 
                "filter_num": 128, 
                "kernel_size": 3
            }, 
            {
                "keep_prob": 1.0, 
                "_type": "avg", 
                "name": "pool", 
                "pre_activation": false, 
                "use_bn": false, 
                "strides": 4, 
                "_id": "pool_4", 
                "activation": null, 
                "kernel_size": 4
            }, 
            {
                "_id": "fc_0", 
                "name": "fc", 
                "pre_activation": false, 
                "use_bn": true, 
                "units": 256, 
                "use_bias": false, 
                "activation": "relu", 
                "keep_prob": 1.0
            }, 
            {
                "_id": "fc_1", 
                "name": "fc", 
                "pre_activation": false, 
                "use_bn": false, 
                "units": 10, 
                "use_bias": true, 
                "activation": null, 
                "keep_prob": 1.0
            }
        ], 
        "_id": "SimpleConvNet"
    }, 
    "bn_epsilon": 1e-05
}