{
    "reduce_lr_factors": [
        10, 
        10
    ], 
    "init_lr": 0.1, 
    "should_save_logs": true, 
    "include_extra": true, 
    "reduce_lr_epochs": [
        0.5, 
        0.75
    ], 
    "renew_logs": true, 
    "opt_config": [
        "momentum", 
        {
            "use_nesterov": true, 
            "momentum": 0.9
        }
    ], 
    "n_epochs": 300, 
    "validation_size": 5000, 
    "validation_frequency": 10, 
    "should_save_model": true, 
    "batch_size": 64, 
    "shuffle": "every_epoch", 
    "dataset": "C10+", 
    "other_lr_schedule": {
        "type": "cosine"
    }, 
    "normalization": "by_channels"
}